@import "tailwindcss";

:root {
  --background: #f8f7f4;
  --foreground: #111111;

  --surface: #ffffff;

  --muted: #6b6b6b;

  --border: #e7e7e7;

  --accent: #b78e5c;

  --accent-dark: #8b6840;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-geist);

  overflow-x: hidden;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 400;
  letter-spacing: -0.03em;
}

img {
  user-select: none;
}

::selection {
  background: #111;
  color: white;
}
